body{
  margin: 0;
}

.home{
  background-color: #1a1a1a;
}

.containerHero {
  width: 100%;
  height: 100%;
  /* Add your background pattern here */
  background-color: #313131;
  background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px
}

/*Botón de hero*/

/* From Uiverse.io by adamgiebl */ 
.buttonHero {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #ffff;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #ffff;
}

.buttonHero:hover {
  background-color: white;
  box-shadow: inset 0 -100px 0 0 #ffff;
}

.buttonHero:active {
  transform: scale(0.9);
}


/*Botón de Registro*/

/* From Uiverse.io by zanina-yassine */ 
.botonRegistro {
  min-width: 100px;

  position: relative;
  cursor: pointer;

  padding: 10px 17px;
  border: 0;
  border-radius: 7px;

  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  background: radial-gradient(
    ellipse at bottom,
    rgba(71, 81, 92, 1) 0%,
    rgba(11, 21, 30, 1) 45%
  );

  color: rgb(255, 255, 255, 0.66);

  transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.botonRegistro::before {
  content: "";
  width: 70%;
  height: 1px;

  position: absolute;
  bottom: 0;
  left: 15%;

  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    #FF346F 50%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0.2;

  transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.botonRegistro:hover {
  color: rgb(255, 255, 255, 1);
  transform: scale(1.1) translateY(-3px);
}

.botonRegistro:hover::before {
  opacity: 1;
}


/*Card Para AboutUs*/

.cardAbout {
  background-image: linear-gradient(163deg, #FF346F 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all .3s;
 }
 
 .cardAbout2 {
  background-color: #1a1a1a;
  transition: all .2s;
 }
 
 .cardAbout2:hover {
  transform: scale(0.98);
  border-radius: 20px;
 }
 
 .cardAbout:hover {
  box-shadow: 0px 0px 30px 1px  rgba(166, 55, 217, 0.497);
 }

 /*Login*/

 .form_area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F8F9FD;
  height: auto;
  width: 30rem;
  border: 2px solid #7f8f91;
  border-radius: 20px;
  box-shadow: 3px 4px 0px 1px #DE5499;
}

.title {
  color: #000000;
  font-weight: 900;
  font-size: 1.5em;
  margin-top: 20px;
}

.sub_title {
  color: #000000;
  font-weight: 600;
  margin: 5px 0;
}

.form_group {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 10px;
}

.form_style {
  outline: none;
  border: 2px solid #264143;
  box-shadow: 3px 4px 0px 1px #DE5499;
  width: 290px;
  padding: 12px 10px;
  border-radius: 4px;
  font-size: 15px;
}

.form_style:focus, .btn:focus {
  transform: translateY(4px);
  box-shadow: 1px 2px 0px 0px #DE5499;
}

.btn {
  padding: 15px;
  margin: 25px 0px;
  width: 290px;
  font-size: 15px;
  background: #DE5499;
  border-radius: 10px;
  font-weight: 800;
  box-shadow: 3px 3px 0px 0px #DE5499;
}

.btn:hover {
  opacity: .9;
}

.link {
  font-weight: 800;
  color: #264143;
  padding: 5px;
}

/*Card General*/

/* From Uiverse.io by SteveBloX */ 
.card {
  box-sizing: border-box;
  width: 190px;
  height: 254px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}

.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

/*-------------------Carta advertencia-----------------*/

.cardWarning{
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  gap: 13px;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
}

.imageWarning{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #FEE2E2;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
}

.imageWarning svg {
  color: #DC2626;
  width: 1.5rem;
  height: 1.5rem;
}

.cookieHeading {
  font-size: 1.2em;
  font-weight: 800;
  color: rgb(26, 26, 26);
}

.cookieDescription {
  text-align: center;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(99, 99, 99);
}

.cookieDescription a {
  --tw-text-opacity: 1;
  color: rgb(59 130 246);
}

.cookieDescription a:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

/*-------------------crear disponibilidad-----------------*/


.disponibilidad-form h2 {
  margin-bottom: 15px;
  text-align: center;
}

.disponibilidad-form label {
  margin-top: 10px;
  font-weight: bold;
}

.disponibilidad-form button {
  margin-top: 15px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.disponibilidad-form button:hover {
  background-color: #0056b3;
}
